@import "_bootstrap.scss";
@font-face { font-family: Myriad Set Pro; src: url('../dev/fonts/MyriadSetPro/myriad-set-pro_text.ttf'); }
@font-face { font-family: Myriad Set Pro; font-weight: bold; src: url('../dev/fonts/MyriadSetPro/myriad-set-pro_bold.ttf');}
@font-face { font-family: Myriad Set Pro; font-weight: 100; src: url('../dev/fonts/MyriadSetPro/myriad-set-pro_ultralight.ttf');}
@font-face { font-family: Myriad Set Pro; font-weight: 200; src: url('../dev/fonts/MyriadSetPro/myriad-set-pro_thin.ttf');}
body {
    font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

.welcoming {
    font-size: 25px;
    font-weight: 200;
    margin-top: 15%;
    margin-bottom: 10%;
}

