@import "_bootstrap.scss";

html, body{
  height: 100%;
  font-size: 10px;
}

article{
  font-size: 1.7em;
}

$white: #FEFEFE;
$light-grey: #D6D6D6;
$dark-grey: #828283;
$black: #565857;
$light-blue: #56B9EE;
$dark-blue: #69B3D8;