@import "_bootstrap.scss";
@font-face { font-family: Myriad Set Pro; src: url('./../fonts/MyriadSetPro/myriad-set-pro_text.ttf'); }
@font-face { font-family: Myriad Set Pro; font-weight: bold; src: url('./../fonts/MyriadSetPro/myriad-set-pro_bold.ttf');}
@font-face { font-family: Myriad Set Pro; font-weight: 100; src: url('./../fonts/MyriadSetPro/myriad-set-pro_ultralight.ttf');}
@font-face { font-family: Myriad Set Pro; font-weight: 200; src: url('./../fonts/MyriadSetPro/myriad-set-pro_thin.ttf');}


html, body{
  height: 100%;
  font-size: 10px;
}

article{
  font-size: 1.7em;
}

$white: #FEFEFE;
$light-gray: #D6D6D6;
$dark-gray: #828283;
$black: #565857;
$light-blue: #56B9EE;
$dark-blue: #69B3D8;

.content{
  position: absolute;
  left: 100px;
}

.left-menu{
  padding: 1.5%;
  width: 100px;
  height: 100%;
  position: fixed;
  .left-menu-item{
    color: $dark-gray;
    padding: 1em 0;
    text-align: center;
    &:hover{
      color: $white;
      cursor: default;
    }
  }

  background: -webkit-linear-gradient(90deg, #393b3c 10%, #505254 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #393b3c 10%, #505254 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #393b3c 10%, #505254 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #393b3c 10%, #505254 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #393b3c 10%, #505254 90%); /* W3C */

}

@import "auth-page";